@import 'root';
@import 'mixins';
@import 'login';
@import 'signup';

// header settings
.header {
    background-color: $dark_bg;
    width: 100%;
    height: $header_height;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    .header-img {
        width: 310px;
        height: $header_height * 0.75;
        margin-top: $header_height / 8;
        float: left;
    }
    .header-button {
        color: white;
        font-size: 18px;
        text-align: center;
        float: right;
        margin-right: 127px;
        vertical-align: middle;
        line-height: $header_height;
        cursor: pointer;
    }
    .header-button:hover {
        color: $main_theme;
    }
}

// media queries
@media only screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        height: auto;
        justify-content: center;
        .header-img, .header-button {
            margin: auto;
            width: 80%;
            height: auto;
        }   
    }
    .logModal {
        padding: 0;
        width: 100%;
    }
    .logModal-close {
        display:block;
        width: 100%;
        text-align: center;
        margin: auto;
        float: none;
    }
    .logModal-accountAsk, span {
        display: block;
    }
}   
