$dark_bg: #2A363B;    // color of header and windows
$main_theme: #E84A5F; // main color of font

// sizes
$header_height: 64px; 
$modal_width: 465px;
$modal_height: 712px;
$modal_border_radius: 4px;
$modal_margin_top: 172px;

